<link href="~/StyleSheet1.css" rel="stylesheet" />
<header>
    <center>
        <h1 style="font-family: 'Berlin Sans FB'; font-size: 400%">Travel Agency SCE</h1><br />
        <h1 style="font-family: 'Segoe Script'; color: green; font-size:250%">The payment is succesful!</h1><br />
        <h1 style="font-family: 'Segoe Script'; color: green; font-size:250%">We get your order</h1><br />
        <a class="btn btn-primary btn-sm" href="/User/UserHomePage">Back to Home Page</a><br />
    </center>
</header>
